 /* Algemeen */
 * {
     margin: 0;
     box-sizing: border-box;
 }

 /* Fonts */
 h1 {
     font-family: 'Titan One', sans-serif !important;
     font-size: 3.75rem;
     color: #1A8300;
     font-weight: normal;

 }

 h3 {
     font-family: 'Montserrat Alternates', sans-serif;
     font-size: 1.8rem;
     color: #319A17
 }

 h4 {
     font-family: 'Montserrat Alternates', sans-serif;
     font-size: 1.4rem;
     color: #319A17
 }

 p {
     font-family: 'Montserrat Alternates', sans-serif;
 }

 /* Marge */

 .margin40x {
     margin-right: 20px;
     margin-left: 20px;
 }

 .margin50y {
     margin-top: 30px;
     margin-bottom: 20px;
 }

 /* Startpagina */

 .TitelStart {
     font-size: 8rem;
     color: #1A8300;
 }

 .TitelLichtgroen {
     color: #25B900;
     margin-top: -10px;
 }

 #container {
     margin-top: 6rem;
     margin-left: 3.1rem;
     margin-right: 3.1rem;

 }

 .boogGroen {
     width: 100%;
     height: auto;
 }

 .curlyFooter {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
 }

 .curlyFooter2 {
     position: fixed;
     left: 0;
     bottom: 2px;
     width: 100%;
 }

 /* Bestelpagina */

 .curlyFooterTop {
     position: fixed;
     left: 0;
     top: 0;
     width: 100%;
     text-align: center;
     z-index: -2;
 }

 svg .svg-elem-1 {
     stroke-dashoffset: 3816.58984375px;
     stroke-dasharray: 1908.294921875px;
     -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
     transition: stroke-dashoffset 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
 }

 svg.active .svg-elem-1 {
     stroke-dashoffset: 1908.294921875px;
 }

 .witvierkant {
     background-color: #FFFFFF;
     margin-top: 44px;
     width: 100%;
     height: auto;
     padding-top: 40px;
     padding-left: 40px;
     padding-right: 40px;
     padding-bottom: 80px;
     border-radius: 25px;
     -webkit-box-shadow: 0px 1px 22px 3px rgba(44, 65, 43, 0.04);
     box-shadow: 0px 1px 22px 3px rgba(44, 65, 43, 0.04);
 }

 .foodorder {
     width: 100%;
     /* background-color: rgb(196, 190, 192); */
     height: 100px;
     margin-bottom: 20px;
 }

 .foodorder:last-child {
     margin-bottom: 0px;
 }

 /* Grote button onderaan */

 .buttoncontainer {
     height: 15vh;
     width: 100%;
     background-color: #6CB65A;
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     margin-top: 20px;
     border-radius: 40px 40px 0px 0px;
     -webkit-box-shadow: 0px 1px 22px 3px rgba(44, 65, 43, 0.04);
     box-shadow: 0px 1px 22px 3px rgba(44, 65, 43, 0.04);
     display: flex;
     justify-content: center;
     flex-wrap: nowrap;
 }

 .linkerbutton {
     width: 50%;
     height: 100%;
     background-color: #FFFFFF;
     border-radius: 40px 0px 0px 0px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .rechterbutton {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 50%;
     border-radius: 0 40px 0 0;
     background-color: #49A931;
 }

 .rechterbutton-betaling {
     background-color: gray;
 }


 /* Betaalmethodes */

 #buttonPressedTop {
     width: 100%;
     border-radius: 30px;
     background-color: #FFFFFF;
     border: none;
 }

 /* #buttonPressedTop:focus {
     background-color: #EBF7E8;
     transition: all ease-in 0.2s;
 } */

 /* #buttonPressedTop:focus .left-icon {
     background-color: #1A8300;
 } */

 #buttonPressedBot {
     width: 100%;
     border-radius: 30px;
     background-color: #FFFFFF;
     border: none;
 }

 /*
 #buttonPressedBot:focus {
     background-color: #EBF7E8;
     transition: all ease-in 0.2s;
 }

 #buttonPressedBot:focus .left-icon {
     background-color: #1A8300;
 }
*/


 .gg {
     height: 25px;
 }

 /* #buttonPressedTop:focus img#cardIcon {
     filter: brightness(0) invert(1)
 }

 #buttonPressedTop:focus .right-text .right-text-item .textwhite {
     color: #EBF7E8;
 }

 #buttonPressedTop:focus .suggested {
     background-color: white;
 }

 #buttonPressedBot:focus img#cardIconBot {
     filter: brightness(0) invert(1)
 } */

 .paymentchoice {
     padding-top: 5%;
     padding-left: 5%;
     padding-right: 5%;
     padding-bottom: 5%;
     display: flex;
     flex-direction: row;
     align-items: center;
     /* justify-content: space-around; */
     border-radius: 64px;
 }

 .left-icon {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-right: 2%;
     margin-left: 2%;
     width: 170px;
     height: 170px;
     border-radius: 16px;
     border: solid 4px #DAF8D3;
 }


 .right-text {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
     /* Gewenste alignering */
     margin-left: 50px;
     margin-right: 30px;
     height: 175px;
 }

 .right-text-item {
     width: 100%;
     height: calc(175px/3);
 }

 .snelste-optie {
     display: flex;
     justify-content: flex-start;
 }

 .suggested {
     font-weight: 500;
     color: #1A8300;
     background-color: #BAF2AC;
     padding: 8px;
     border-radius: 16px;
 }

 img#cardIcon {
     width: 100%;
     height: auto;
     /* padding */
     padding-top: 40px;
     padding-bottom: 40px;
     padding-left: 30px;
     padding-right: 30px;
 }

 img#cardIconBot {
     width: 100%;
     height: auto;
     padding-top: 38px;
     padding-bottom: 38px;
     padding-left: 40px;
     padding-right: 30px;
     /*  */
     /* margin-left: 20px; */
     /* margin-right: 20px; */

 }

 .textwhite {
     color: white;
 }

 /* SAM BUTTON CSS */
 /* HULP */

 

 .helpButtonLink {
     display: flex;
     align-items: center;
     justify-content: center;
     margin: auto;
 }

 .helpButton {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: white;
     border-radius: 4em;
     font-family: 'Montserrat Alternates', sans-serif;
     font-size: 4rem;
     font-weight: 700;
     color: #1A8300 !important;
     cursor: pointer;
     user-select: none;
     text-decoration: none;
     cursor: pointer;
     transition-duration: 0.4s;
     -webkit-transition-duration: 0.4s;
     /* Safari */

     width: auto;
     height: auto;
     padding-left: 2rem;
     padding-right: 2rem;
     padding-top: 1rem;
     padding-bottom: 1rem;
     font-size: 22px;
 }

 .helpButton a{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column-reverse;
 }

 .helpButtonPosition {
     display: flex;
     justify-content: flex-end;
     /* background-color: purple; */
 }

 .helpButton:hover {
     transition-duration: 0.1s;
 }

 .information-svg{
     margin-left: 1rem;
 }

 .helpButton:after {
     content: "";
     display: block;
     position: absolute;
     border-radius: 4em;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     opacity: 0;
     transition: all 0.5s;
     box-shadow: 0 0 10px 40px white;
 }

 .helpButton:active:after {
     box-shadow: 0 0 0 0 white;
     position: absolute;
     border-radius: 4em;
     left: 0;
     top: 0;
     opacity: 1;
     transition: 0s;
 }

 .helpButton:active {
     top: 1px;
 }

 /* OUD */
 /* .helpButton {
   background-color: white;
   padding: 20px;
   border-radius: 100px;
   display: flex;
   justify-content: center;
   width: 30%;
   height: 20%;
}



.helpButton:hover {
   background-color: rgb(203, 203, 203);
}

.helpButton p {
   padding-right: 20px;
   color: #1A8300;
   text-decoration: none;
}

.helpButton a {
   text-decoration: none;
}

.helpButtonLink {
   display: flex;
   align-items: center;
   justify-content: center;
} */

 /* OUD */

 /* --- sam nieuwe button links onder */
 .scanOpnieuwLink {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .scanOpnieuwLink p {
     color: #319A17;
 }

 a {
     text-decoration: none;
 }

 .scanOpnieuwLink p {
     font-size: 36px;
 }

 .gaVerderLink {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .gaVerderLink p {
     color: white;
     font-size: 36px;
 }

 .animatievierkant {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 500px;
     height: 100%;
 }

 .animatievierkant img {
     margin-left: auto;
     margin-right: auto;
     width: 100%;
     height: auto;
     position: relative;
     left: 20%;
 }

 .witvierkant2 {
     margin-top: 44px;
 }

 .helpButtonLink {
     display: flex;
     align-items: center;
     justify-content: center;
     margin: auto;
 }

 

 .helpButtonPosition {
     display: flex;
     justify-content: flex-end;
     /* width: 100%; */
     /* background-color: purple; */
 }

 .helpButton:hover {
     transition-duration: 0.1s;
 }

 .helpButton:after {
     content: "";
     display: block;
     position: absolute;
     border-radius: 4em;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     opacity: 0;
     transition: all 0.5s;
     box-shadow: 0 0 10px 40px white;
 }

 .helpButton:active:after {
     box-shadow: 0 0 0 0 white;
     position: absolute;
     border-radius: 4em;
     left: 0;
     top: 0;
     opacity: 1;
     transition: 0s;
 }

 .helpButton:active {
     top: 1px;
 }



 /* Bestelling Overzicht Scherm */

 .foodorder {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;

 }

 /* Top section */
 .foodTitels {
     display: flex;
     justify-content: center;
     align-items: center;
     /* margin-top: -50px; */
     font-size: 20px;
     width: 100%;
 }

 .foodTitels h1 {
     display: flex;
     justify-content: center;
     align-items: center;
     /* margin-top: -50px; */
     width: 33%;
     font-size: 20px;
 }

 /* Food tags */

 .foodTags {
     display: flex;
     justify-content: flex-start;
     align-items: center;
     width: 100%;
     font-size: 16px;
 }

 .foodText {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: auto;
     padding-top: 40px;
     padding-left: 40px;
     padding-right: 40px;
     padding-bottom: 80px;
     border-radius: 25px;

     font-size: 16px;
 }

 .foodText p {
     display: flex;
     justify-content: center;
     width: 33%;
     color: #319A17;
     /* font-weight: 200; */
 }

 .label-list {
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     font-family: 'Titan One', sans-serif;
     font-size: 22px;
     color: #1A8300;
     font-weight: 100;
 }

 #label-list-productnaam {
     display: flex;
     justify-content: center;
 }

 #label-list-aantal {
     display: flex;
     justify-content: flex-end;
 }

 #label-list-prijs {
     display: flex;
     justify-content: center;
 }

 /* .food-tag td {
   /* width: 10%; 
   font-family: 'Montserrat Alternates', sans-serif;
   font-size: 1.4rem;
   color: #319A17;
   font-weight: 200;
   background-color: #EBFFEA;
   padding-top: 8px;
   padding-bottom: 8px;
   padding-left: 12px;
   padding-right: 12px;
   border-radius: 10px;
} */

 .food-inhoud {
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     font-family: 'Montserrat alternatives', sans-serif;
     font-size: 22px;
     color: #1A8300;
     /* font-weight: 100; */
     border-bottom: 5px solid #E9E8E8;
     border-radius: 300;
     padding-bottom: 40px;
     margin-top: 30px;
 }

 .foodTotaal {
     margin-top: 80px;
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
     align-items: baseline;
     font-size: 26px;
     color: #1A8300;
     margin-right: 60px;
 }

 .foodTotaal h1 {
     font-size: px;
     font-family: 'Montserrat alternatives', sans-serif;
 }

 .bestelling-inhoud-container {
     display: flex;
     flex-wrap: nowrap;
     flex-direction: row;
     width: 100%;
     justify-content: center;
     align-items: flex-start;
 }

 .linker-bestelling-inhoud h1,
 .midden-bestelling-inhoud h1,
 .rechter-bestelling-inhoud h1 {
     font-size: 23px !important;
     margin-bottom: 30px;
     /* margin-left: 20px; */
 }

 .linker-bestelling-inhoud p,
 .midden-bestelling-inhoud p,
 .rechter-bestelling-inhoud p {
     font-family: 'Montserrat Alternates', sans-serif;
     font-size: 23px;
     color: #319A17;
     font-weight: 500;
     /* margin-left: 20px; */
 }

 .linker-bestelling-inhoud .tag,
 .midden-bestelling-inhoud .tag,
 .rechter-bestelling-inhoud .tag {
     margin-bottom: 15px;
     /* margin-top: 150px; */
 }

 .white {
     color: white;
     background-color: white;
 }

 /* Linker deel */

 .linker-bestelling-inhoud {
     width: 33%;
     display: flex;
     flex-direction: column;
     text-align: left;
 }

 /* .linker-bestelling-inhoud p {
   /* margin-left: 20px; 
} */

 .tag {
     display: flex;
     /* justify-content: center;
   align-items: center; */
     width: 100%;
 }

 .tag h4 {
     display: flex;
     justify-content: center;
     align-items: center;
     /* background-color: #EBFFEA; */
     padding: 10px;
     border-radius: 10px;
     font-size: 16px;
 }

 #orangeTag h4 {
     background-color: #FFF9EA;
     color: #B96900;
 }

 #greenTag h4 {
     background-color: #EBFFEA;
     color: #25B900;
 }

 /* Einde linkerdeel */
 /* Start linkerdeel */

 .midden-bestelling-inhoud {
     width: 33%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
 }

 .rechter-bestelling-inhoud {
     width: 33%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
 }

 .softLine {
     height: 2px;
     background-color: black;
     opacity: 0.15;
     width: 100%;
     margin-top: 15px;
     margin-bottom: 32px;
     border-radius: 20px;
 }

 /* ONDERSTE KNOPPEN ACTIVE STATE */
 .rechterbutton:active {
     background-color: #49A931;
 }

 .linkerbutton:active {
     background-color: rgb(230, 230, 230);
 }


 /* Scannen scherm */

 .bestelling-scannen {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 100%;
     width: 100%;
 }

 .bestelling-scannen p {
     color: #1A8300;
     font-weight: 500;
 }

 .scannen-container {
     height: 80vh;
 }

 #loading-balls-scan {
     margin-top: -100px;
 }

 /* Betaling verwerking */

 .betalingAnnuleren {
     width: 240px;
     height: 60px;
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     /* background-color: #fff; */
     border-radius: 4em;
     border: 3px solid #1A8300;
     font-size: 20px;
     color: white;
     /* padding: 0.8em 1.8em; */
     padding-top: 5px;
     padding-bottom: 5px;
     padding-left: 5px;
     padding-right: 5px;
     cursor: pointer;
     user-select: none;
     text-decoration: none;
     cursor: pointer;
     transition-duration: 0.4s;
     -webkit-transition-duration: 0.4s;
     /* Safari */
 }

 .betalingAnnulerenButtonLink {
     color: #1A8300;
     padding: 0px;
 }

 /* ACTIVE STATUS */
 .betalingAnnuleren:active {
     background-color: lightgrey;
 }

 /* betaling-voltooid */

 .betaling-voltooid-container {
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: 30vh;
     width: 100%;
 }

 .betaling-qrcode-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
 /* CSS VOOR SCAN KNOP */

 .buttonCenter {
     display: flex;
     justify-content: center;
     margin-top: 9vh;
 }

 .buttonCenterBetaling {
     display: flex;
     justify-content: center;
     margin-top: 4vh;
 }

 .scannen {
     width: 240px;
     height: 60px;
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #FFC011;
     border-radius: 4em;
     font-size: 20px;
     color: white;
     /* padding: 0.8em 1.8em; */
     padding-top: 5px;
     padding-bottom: 5px;
     padding-left: 5px;
     padding-right: 5px;
     cursor: pointer;
     user-select: none;
     text-decoration: none;
     cursor: pointer;
     transition-duration: 0.4s;
     -webkit-transition-duration: 0.4s;
     /* Safari */
 }

 .scannenLink {
     display: flex;
     align-items: center;
     justify-content: flex-start;
 }

 .scannenLink p {
     color: white;
 }

 .scannenLink svg {
     padding-left: 5px;
     padding-right: 10px;
     width: 55px;
 }

 #Path_1553 {
     display: none;
 }

 /* ACTIVE STATE */

 .scannenLink p:active {
     color: #FFC011;
 }

 .scannenLink:active #Path_1552 {
     display: none;
 }

 .scannenLink:active #Path_1553 {
     display: block;
 }

 .scannen:active {
     background-color: rgb(238, 238, 238);
     /* border: 5px solid #FFC011; */
 }

 .boxRondAnimatie {
     display: flex;
     flex-direction: row;
     justify-content: center;
     margin-top: 9vh;
 }

 .arrow1 {
     margin-left: 70px;
 }

 .arrow2 {
     margin-left: -70px;
     margin-right: -70px;
 }

 .arrow3 {
     margin-right: 70px;
 }


 /* Qr code */


 .betaling-voltooid-container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 100%;
 }

 #instructies {
     display: flex;
     justify-content: center;
     margin-top: 40px;
     margin-bottom: 80px;
     font-weight: 500;
     font-size: larger;
     color: #4F7A44;
 }

 
/* modal */
/* =============================================== */
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  
    display: none;
    justify-content: center;
    align-items: center;
  
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 40%, .6);
  }
  
  /* using :target */
  .modal-container:target {
    display: flex;
  }
  
  .modal {
    width: 70rem;
    padding: 4rem 2rem;
    border-radius: 2.2rem;
    background-color: #fff;
    box-shadow: .4rem .4rem 2.4rem .2rem hsla(240, 7%, 8%, 0.3);
    position: relative;
    overflow: hidden;
  
   
    animation: modal-animatie 0.2s cubic-bezier(0.5, 0, 0.75, 0) 0s 1 normal forwards;
  
  }
  
  @keyframes modal-animatie {
      0% {
          transform: scale(0);
      }
  
      100% {
          transform: scale(1);
      }
  }
  
  .modal__details {
  
    margin-bottom: 4rem;
    padding-left: 5rem;
    padding-right: 5rem;
  
  
  }
  
  .modal__title {
      font-family: 'Titan One', sans-serif;
      font-size: 4rem;
      color: #1A8300;
      font-weight: normal;
      
  }
  
  .modal__description {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    color: #1A8300;
    font-weight: 500;
  }
  
  
  
  .modal_buttons{
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  
  .modal__btn {
    
  padding: 40px;
    background: transparent;
    font-size: 1.4rem;
    font-family: inherit;
    letter-spacing: .2rem;
  
    transition: .2s;
    cursor: pointer;
      border-style: none;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    color: white;
    background-color: #25B900;
    font-weight: 500;
    border-radius: 500px;
  }
  
  .modal__btn:active{
      background-color: #186805;
      transform: translateY(-.2rem);
  }
  
  .modal__btn:focus{
      outline: 0 ! important;
  }
  
  
  .modal-annuleer{
      font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    color: #1A8300;
    font-weight: 600;
    outline: none;
  }
  
  .modal-annuleer:active{
      color: #25B900;

  }













transition-fade{
    opacity: 1;
    transition: 500ms;
}

html.is-animating .transition-fade{
    opacity: 0;
}

