* {
    padding: 0px;
    margin: 0px;
}
a {
    text-decoration: none;
}

body {
    font-family: "Montserrat Alternates";
    font-size: 45px;
    font-weight: bold;
}

.greenBackground {
    background-color: #25B900;
    padding: 5px 0 5px 0;
}

.knoppen {
    display: flex;
    flex-direction: row;
}

.button {
    margin: 10px;
}

/* ---------------------------- */

/* CSS VOOR SCAN KNOP */
.scannen {
    width: 240px;
    height: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFC011;
    border-radius: 4em;
    font-size: 20px;
    color: white;
    /* padding: 0.8em 1.8em; */
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    /* Safari */
}

.scannenLink {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.scannenLink p {
    color: white;
}

.scannenLink svg {
    padding-left: 5px;
    padding-right: 10px;
    width: 55px;
}

#Path_1553 {
    display: none;
}

/* ACTIVE STATE */

.scannenLink p:active {
    color: #FFC011;
} 

.scannenLink:active #Path_1552{
    display: none;
}

.scannenLink:active #Path_1553{
    display: block;
}

.scannen:active {
    background-color: rgb(238, 238, 238);
    /* border: 5px solid #FFC011; */
}

/* --------------------------------------- */

/* CSS VOOR HULP KNOP */
.helpButton p {
    padding-right: 20px;
    font-size: 20px;
    color: #1A8300;
}

.helpButtonLink {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.helpButton {
    width: 240px;
    height: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 4em;
    font-size: 16px;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    /* Safari */
}

.helpButtonPosition {
    display: flex;
    justify-content: flex-end;
    /* background-color: purple; */
}

.helpButton:hover {
    transition-duration: 0.1s;
}

.helpButton:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px white;
}

.helpButton:active:after {
    box-shadow: 0 0 0 0 white;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top: 0;
    opacity: 1;
    transition: 0s;
}

.helpButton:active {
    top: 1px;
}  

/* ------------------------------------ */

/* CSS VOOR AFREKEN KNOP */
.afrekenen {
    width: 240px;
    height: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFC011;
    border-radius: 4em;
    font-size: 20px;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    /* Safari */
}

.afrekenenLink {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.afrekenenLink p {
    color: white;
}

.afrekenenLink svg {
    padding-left: 5px;
    padding-right: 15px;
    width: 55px;
}

#Path_1553 {
    display: none;
}

/* ACTIVE STATE */

.afrekenenLink p:active {
    color: #FFC011;
} 

.afrekenenLink:active #Path_1552{
    display: none;
}

.afrekenenLink:active #Path_1553{
    display: block;
}

.afrekenen:active {
    background-color: rgb(238, 238, 238);
    /* border: 5px solid #FFC011; */
}

/* -------------------------------------- */

/* CSS VOOR GA TERUG KNOP */
.terug {
    width: 240px;
    height: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 3px solid #1A8300;
    border-radius: 4em;
    font-size: 20px;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    /* Safari */
}

.terugLink {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.terugLink p {
    color: #1A8300;
}

.terugLink svg {
    /* padding-left: 5px; */
    /* padding-right: 15px; */
    width: 55px;
}

/* #Path_1601 {
    display: none;
} */

/* ACTIVE STATE */

.terugLink p:active {
    color: #FFC011;
} 

.terugLink:active #Path_1552{
    display: none;
}

.terugLink:active #Path_1553{
    display: block;
}

.terug:active {
    background-color: rgb(238, 238, 238);
    /* border: 5px solid #FFC011; */
}

/* ---------------------------- */

/* BETALING ANNULEREN */
.betalingAnnuleren {
    width: 240px;
    height: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 4em;
    border: 3px solid #1A8300;
    font-size: 20px;
    color: white;
    /* padding: 0.8em 1.8em; */
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    /* Safari */
}

.betalingAnnulerenButtonLink {
    color: #1A8300;
    padding: 0px;
}

/* ------------------------------------- */

/* CSS SCAN OPNEIUW */
.scanOpnieuw {
    background-color: white;
}

.scanOpnieuwLink {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.scanOpnieuwLink p {
    color: #319A17;
}

/* CSS GA VERDER */
.gaVerder {
    background-color: #49A931;
}

.gaVerderLink {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.gaVerderLink p {
    color: white;
}