<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="modal.css">
  <script defer src="modal.js"></script>
</head>

<body>

  <a href="#modal-opened" class="link-1" id="modal-closed">Open Modal</a>
  <div class="modal-container" id="modal-opened" animation: modal-animatie 0.3s cubic-bezier(0.5, 0, 0.75, 0) 0s 1
    normal forwards;>
    <div class="modal">
      <div class="modal__details">
        <h1 class="modal__title">Heb je hulp nodig?</h1>
        <p class="modal__description">Een medewerker zal je persoonlijk komen helpen.</p>
      </div>
      <div class="modal_buttons">
        <a href="#modal-closed" class="modal-annuleer">Annuleer</a>
        <button onclick="window.location.href='/bevestiging-hulp.html'" class="modal__btn">Roep medewerker</button>
      </div>
      <a href="#modal-closed" class="link-2"></a>
    </div>
  </div>








</body>

</html>